/* GENERAL--------------------------------------------------------------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/*FONDO*/
.background{
    
    background-color: #66b3be;
    min-height: calc(100vh - 40px);
}

/*NAVBAR*/
.navbar{
    position: sticky;
}

/* position: absolute;
padding: 0;
height: 56px;
top: 0;
left: 0;
width: 100%; */

.navbar-brand{
    width: 2%;
    display: grid;
    justify-content: center;
    align-content: center;
}
.navbar-brand img{
    width: 100%;
}
.navbar-text h1{
    justify-content: left;
    font-size: 20px;
    margin-bottom: 0;
}

/*FOOTER*/
footer{
    margin: 0;
    position: relative;
    background-color: #f3f4fb;
    bottom: 0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 40px;
    
}
footer p{
    margin:auto;
}


/* HOME-------------------------------------------------------------------------------------------------------------------*/

/*HOME GRID*/
.home-grid-container{
    display: grid;
    grid-template-columns: auto 10% auto;
    grid-template-rows:auto 40% ;
    grid-template-areas:
    'bienvenida carrete carrete'
    'mapa mapa info';
   gap: 1%;
   margin: 1%;
   
}
.home-gridcontainer section{
    padding: 30px;
}



/* SING IN----------------------------------------------------------------------------------------------------------------*/

/*SI GRID*/
.SI-grid-container{
    padding: 5%;
    background-color: #f3f4fb;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    'email-label email-input'
    'password-label password-input'
    'captcha-label captcha-checkbox'
    'submit-button submit-button';
    border-radius: 1%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}
.SI-grid-container section{
    padding: 3px;
    
}

/* SING UP----------------------------------------------------------------------------------------------------------------*/

/*SU GRID*/
.SU-grid-container{
    padding: 5%;
    background-color: #f3f4fb;
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    'name-label name-input'
    'lastname-label lastname-input'
    'email-label email-input'
    'password-label password-input'
    'Rpassword-label Rpassword-input'
    'captcha-label captcha-checkbox'
    'submit-button submit-button';
    border-radius: 1%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}
.SU-grid-container section{
    padding: 3px;
}


/*-----------------------------------------------------------------------------------------------------------------------*/





/*GRID AREAS*/

.info {grid-area: info;
    text-align: left;
    overflow: auto;
    padding: 3%;
    border-radius: 1%;
    background-color: #f3f4fb;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);}
.bienvenida {grid-area: bienvenida;
    height: 95%;
    padding: 3%;
    border-radius: 1%;
    background-color: #f3f4fb;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);}
.carrete {grid-area: carrete;}
.email-label {grid-area: email-label;}
.email-input {grid-area: email-input;}
.password-label {grid-area: password-label;}
.password-input {grid-area: password-input;}
.Rpassword-label {grid-area: Rpassword-label;}
.Rpassword-input {grid-area: Rpassword-input;}
.captcha-label {grid-area: captcha-label;}
.captcha-checkbox {grid-area: captcha-checkbox;
    margin-left: 5%;
    justify-self: start;}
.submit-button {grid-area: submit-button;
    margin-top: 5%;}
.name-label {grid-area: name-label;}
.name-input {grid-area: name-input;}
.lastname-label {grid-area: lastname-label;}
.lastname-input {grid-area: lastname-input;}
iframe{grid-area: mapa;
    width: 100%;
    height: 100%;
    border-radius: 1%;}




h3{
    background-color: #4e649b; 
    background-color: #f3f4fb;  
    background-color: #967eae;  
    background-color: #a49cbc;  
    background-color: #66b3be;  
    background-color: #98bee0; 
    background-color: #c1e6f5; 
    background-color: #bcb2d4; 
}
 